#version=RHEL8
ignoredisk --only-use=vda
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=thinp
# Partition clearing information
clearpart --all --initlabel --drives=vda
# Use text mode install
text
# Keyboard layouts
keyboard --vckeymap=fr --xlayouts=''
# System language
lang fr_FR.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s1 --ipv6=auto --activate
# Root password
rootpw --lock
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Paris --isUtc

%packages
@^minimal-environment
@guest-agents
@headless-management
@security-tools
@system-tools
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
